<h1>Welcome to Yelpdemo2!</h1>
<h2>This is one of the sample application for <a href="http://www.baserails.com">Baserails</a>, a platform that teachers people to build awesome custom websites with the Ruby on Rails programming language. Sign up and start learning today!</h2>
