<h1>Welcome to Yelpdemo2!</h1>
<h2>This is one of the sample application for <%= link_to "Baserails", "http://www.baserails.com" %>, a platform that teachers people to build awesome custom websites with the Ruby on Rails programming language. Sign up and start learning today!</h2>
